/* variaveis */
$main-color: #7C1F4E;
$secundary-color:#C1C2C2;
$terciaria-color:#F374AE;
$quartiaria-colar:#4C8577;

/* Geral */
* {
  padding: 0;
  margin: 0;
}
.row {
  margin: 0;
}
p,
li {
  color: $secundary-color;
}

/* barra de navegação */
html body header {
  background-color: $secundary-color;
  color: $main-color;
  padding: 0;
  

  a {
    color: $main-color;
  }

  a:hover {
    color: $terciaria-color;
 
  }
  .navbar-brand{
    min-width: 50px; 
    min-height: 50px;
    img{
      width:60px ;
   }
  }
  .container .navbar-toggler{
    outline: none;
  }
}
#navbarSite .navbar-nav .active{
color: #2e0c1d;
}
.dropdown-menu {
  background-color: $secundary-color;
  
  .dropdown-item{
    color: $main-color;
  }
  .dropdown-item:hover{
    background-color: $secundary-color;
    color: $terciaria-color;
  }
}


/* Garantir que o carrossel tenha altura consistente */
.carousel-inner img {
height: 400px; /* Ajuste conforme necessário */
object-fit: cover; /* Cobre o espaço mantendo a proporção */
}
@media (max-width:991px){
  html body header {
    .navbar-brand{
      img{
        width:85px ;
      }
    }
  }
}